<div class="mdl-card shopping mdl-cell mdl-cell--12-col">
	<div class="mdl-card__media mdl-color-text--grey-50">
		<h3><a href="{{post.link}}">{{post.title}}</a></h3>
	</div>
	<div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<p>{{post.get_preview(25)}}</p>
	</div>
	<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
		<div class="minilogo"></div>
		<div>
			<strong>{{post.author}}</strong>
			<span>2 days ago</span>
		</div>
	</div>
</div>
