{% include 'components/html-header.twig' %}

	<body class="{{body_class}}" data-template="base.twig">

		<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
			<main class="mdl-layout__content">
				{% block content %}Sorry, no content{% endblock %}
			</main>
			<div class="mdl-layout__obfuscator"></div>
		</div>

		{% include 'footer.twig' %}

	</body>
</html>