<!DOCTYPE html>
<head>
<title>{{ page.title }} | A Very Special Episode</title>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta charset="utf-8">

<link rel="stylesheet" media="all" href="/css/layout.css"/>
<link rel="stylesheet" href="/css/blue.monday/jplayer.blue.monday.css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

<!-- TypeKit & Libraries -->
<script src="/js/modernizr-1.7.min.js"></script>
<script src="/js/jquery-1.7.1.min.js"></script>
<script src="/js/jquery.jplayer.min.js"></script>
<script src="/js/less-grid-4.js"></script>

<!-- TypeKit & Libraries -->
<script type="text/javascript" src="http://use.typekit.com/hon3haq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" href="/css/avse.css" media="all">


<!-- Icons and thingies -->
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

</head>

<body lang="en">

<div id="container" class="cf">
<div id="main" role="main">
<header>
  <h1><a href="/">a very special episode</a></h1>
  <nav>
    <a href="/walkah.html">walkah</a> | <a href="/heyrocker.html">heyrocker</a> | <a href="/eaton.html">eaton</a>
  </nav>
  <h2>{{ page.title }}</h2>
</header>
{{ content }}
</div>

<footer>
der footer.
</footer>
</div>
</body>

</html>
